<!DOCTYPE html>
<html>
  <head>
    <title>Bell Schedule</title>
  </head>
  <body>
    <h1>
      Bell Schedule for {{name}}
    </h1>
    <p>
      <table>
        <th>period</th>
        <th>section</th>
      {% for section in sections %}
        <tr>
          <td>
            {{section.period}}
          </td>
          <td>
            {{section.name}}
          </td>
        </tr>
      {% endfor %}
      </table>
    </p>
    <form action='/logout'>
      <input type='submit' value='Logout'/>
    </form>
  </body>
</html>
